<ion-header>
  <ion-navbar>
    <ion-title>
      Gastos pototos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateSaldo()">
        <ion-icon name="add"></ion-icon>
        <ion-title >
          {{Saldo}}
        </ion-title>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3> Para agregar sugerencias hacer click <span (click)="sugerencias()" style="color:red">aqui!</span> </h3>

  <button type="button" ion-button block name="button" (click)="setVisible()" [style.display]="mostrar ? 'block' : 'none'">Ocultar añadir Gastos!</button>

  <form [formGroup]="infoForm" [style.display]="mostrar ? 'block' : 'none'">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select formControlName="Categoria" >
        <ion-option *ngFor="let data of Categorias" value="{{data.Nombre}}">{{data.Nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <button type="button" (click)="addCategoria()" ion-button name="button">Añadir Categoria</button>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="Fecha">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Persona</ion-label>
      <ion-select formControlName="Persona" >
        <ion-option *ngFor="let data of Personas" value="{{data.Nombre}}">{{data.Nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <button type="button" (click)="addPersona()" ion-button name="button">Añadir Persona</button>
    <ion-item>
      <ion-label position="floating">Monto</ion-label>
      <ion-input type="number" formControlName="Monto"></ion-input>
    </ion-item>
    <ion-item-divider>

    </ion-item-divider>

  </form>
  <button type="button" ion-button block  name="button" (click)="addGasto()" [style.display]="mostrar ? 'block' : 'none'">Añadir Gasto!</button>

  <button type="button" ion-button block  name="button" (click)="setVisible()" [style.display]="mostrar ? 'none' : 'block'">Mostrar añadir Gastos!</button>


  <ion-item-divider style="text-align:center">
    Lista de gastos
  </ion-item-divider>



  <ion-list>
  <ion-item-sliding *ngFor="let gasto of Gastos">
    <ion-item>
      <b>{{gasto.Categoria}}</b>
      <h2 style="text-align:center">{{gasto.Nombre}}</h2>
      <button ion-button outline item-end icon-start>
        <ion-icon name="ios-cash-outline"></ion-icon>
        {{gasto.Monto}}
      </button>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="primary" (click)="edit(gasto.key)">EDITAR(aunnoestalistoxd)</button>
      <button ion-button color="danger" (click)="delete(gasto.key)">ELIMINAR</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


  <ion-item-divider>
    <ion-item style="text-align:right">
      <p><b *ngIf='GastoTotal!=0'>{{GastoTotal}}</b></p>
      <p><b *ngIf='GastoTotal==0'>Aun no existen gastos!</b></p>
    </ion-item>
  </ion-item-divider>


</ion-content>
